@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');

:root {
  --colour-background-primary: #100E1D;
  --colour-background-secondary: #1E213A;
  --colour-background-button: #6E707A;

  --colour-text-primary: #E7E7EB;
  --colour-text-secondary: #A09FB1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Raleway", sans-serif;
  background: var(--colour-background-primary);
  color: var(--colour-text-primary);
}

a, button {
  color: var(--colour-text-primary);
  cursor: pointer;
}

aside {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--colour-background-secondary);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
}

footer {
  text-align: center;
}

footer a {
  font-weight: bold;
  text-decoration: underline;
}

.text-secondary {
  color: var(--colour-text-secondary);
}

.icon {
  margin-right: .5rem;
}

.rounded {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--colour-background-primary);
  color: var(--colour-text-primary);
  border: 1px solid var(--colour-background-primary);
  outline: 0;
  font-size: 1.1rem;
  padding: .75rem;
}

.page-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
}

/* Loader */
.loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &--inner {
    font-size: 3rem;
  }

  svg {
    margin-right: 1rem;
  }
}

/* Forecasts */
@import "forecast.scss";

/* Highlights */
@import "highlight.scss";

/* Today */
@import "today.scss";

/* Search */
@import "search.scss";

/* Responsive */
@import "responsive.scss";